* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #d9d9d9;
}

.entrada input {
    /* width: 60px; */
    padding: 10px;
    color: #414b5a;
    background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #E7EBF0;
    background-blend-mode: soft-light, normal;
    border: 0.5px solid rgba(255, 255, 255, 0.4);
    box-shadow: inset -2.5px -2.5px 5px #FAFBFF, inset 2.5px 2.5px 5px #A6ABBD;
    border-radius: 10px;
}

.entrada input::placeholder {
       color: #414b5a;
}